<h1>What&rsquo;s your email?</h1>
<form class="email-form" action="/hello" method="get">
    <label>Email</label>
    <input class="email" type="email" name="email" placeholder="my@email.com" value="{{email}}">
    <input class="submit" type="submit" value="Go!">
</form>
