<h1>What&rsquo;s your email?</h1>
{{#error}}<p class="error">Something went wrong :-(</p>{{/error}}
<form class="email-form" action="/hello" method="get">
    <label>Email</label>
    <input class="email" type="email" name="email" placeholder="my@email.com" value="{{email}}">
    <input class="submit btn" type="submit" value="Go!">
</form>
