<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <title>Shared Templates</title>
    </head>
    <body>
        <div class="wrap">
            <section class="content">
                {{{ yield }}}
            </section>
        </div>

        <script src="/bower_components/requirejs/require.js"></script>
        <script>
        if ('querySelector' in document
            && 'localStorage' in window
            && 'pushState' in history
            && 'addEventListener' in window) {
            document.body.className += ' js';
            require(['/js/main.min.js']);
        }
        </script>
    </body>
</html>
